<div *ngIf="profile != null">
    <p><strong>First Name: </strong> {{profile.givenName}}</p>
    <p><strong>Last Name: </strong> {{profile.surname}}</p>
    <p><strong>Email: </strong> {{profile.userPrincipalName}}</p>
    <p><strong>Id: </strong> {{profile.id}}</p>
</div>
<div *ngIf="accessToken != null"><label>Access Token:</label><input name="accessToken" value="{{accessToken}}" ></div>
<div>
    <p><strong>No need</strong> authentication required value: {{heroes}}</p>
    <p><strong>Need</strong> authentication required value: {{vigilante}}</p>
</div>